certifi==2022.6.15
cycler==0.11.0
fonttools==4.33.3
jplephem==2.17
kiwisolver==1.4.3
linkpredict==2.2.1
matplotlib==3.5.2
numpy==1.23.0
packaging==21.3
Pillow==9.1.1
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.8.1
sgp4==2.21
six==1.16.0
skyfield==1.42
